* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 80%;
    min-height: 75px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/portfolio/images/portfolio-hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    z-index: 100;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav .openMenu {
    display: none;
}

header nav .mainMenu {
    width: 55%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header nav .mainMenu li {
    padding: 8px;
    font-size: 1em;
    cursor: pointer;
}

nav .mainMenu li a {
    cursor: pointer;
    color: rgb(192, 192, 192);
    transition: 0.5s;
}

nav .mainMenu li a:hover {
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s;
}

.mobile .mobileMenu {
    display: none;
}

.hero-section {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    position: relative;
    background-image: url('/portfolio/images/portfolio-hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-container {
    width: 100%;
    min-height: 500px;
    height: fit-content;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.hero-section .hero-container .hero-text {
    width: 60%;
    padding: 3%;
    position: relative;
    left: 80px;
}

.hero-section .hero-container .hero-text .hero-p {
    width: fit-content;
    background-color: rgb(46, 46, 46);
    padding: 6px;
    font-size: 0.8em;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 19px;
}

.hero-section .hero-container .hero-text h1 {
    font-size: 3em;
    margin-bottom: 13px;
}

.hero-section .hero-container .hero-text .hero-p2 {
    width: 75%;
    color: rgb(192, 192, 192);
    margin-bottom: 20px;
}

.hero-section .hero-container .hero-text .resume {
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: #ffffff;
}

.hero-section .hero-container .hero-text .resume:hover {
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.5s;
}

.hero-section .hero-container .hero-text .fa-long-arrow-right {
    font-size: small;
    cursor: pointer;
}

.hero-section .hero-container .hero-text hr {
    width: 180px;
    margin-top: 1.5px;
    border-bottom: 1px solid grey;

}

.hero-section .hero-container .hero-img-container {
    width: 38%;
    position: relative;
}

.hero-section .hero-container .hero-img-container img {
    object-fit: cover;
    width: 80%;
    padding: 0;
    position: relative;
    right: 25px;
}

.mbl-img-container .mbl-img {
    display: none;
}

.projects {
    width: 100%;
    min-height: 750px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projects h2 {
    font-size: 2em;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-top: 4%;
}

.projects .project-grid {
    width: 95%;
    min-height: 820px;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-image: url('/portfolio/images/portfolio-projects-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects .project-grid .project-2 {
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

.projects .project-grid .project {
    width: 100%;
    min-height: 360px;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.projects .project-grid .project img {
    width: 89%;
    object-fit: cover;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
}

.projects .project-grid .project .img-2 {
    margin-left: 11%;
}

.projects .project-grid .project .img-2-mobile {
    display: none;
}

.projects .project-grid .project .project-text {
    width: 250%;
}

.projects .project-grid .project .project-text .p-1 {
    font-size: 0.9em;
    color: rgb(95, 95, 95);
    margin-bottom: 15px;
}

.projects .project-grid .project .project-text .p-2 {
    margin-bottom: 20px;
    color: rgb(69, 69, 69);
}

.projects .project-grid .project .project-text h3 {
    font-size: 1.7em;
    color: #323232;
    margin-bottom: 10px;
}

.projects .project-grid .project .project-text .project-btn {
    display: inline-block;
    border: none;
    border-radius: 7px;
    padding: 8px;
    background-color: rgb(255, 44, 44);
    color: white;
    font-size: 0.80em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}

.projects .project-grid .project .project-text a:hover {
    color: red;
    background-color: #ffffff;
    border: 0.1px solid black;
    transition: 0.5s;
}

.projects .lets-work {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 50px;
    color: #ffffff;
    background-image: url('/portfolio/images/portfolio-hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.5em;
    margin-top: 40px;
    margin-bottom: 90px;
    cursor: pointer;
    transition: 0.7s;
}

.projects .lets-work:hover {
    color: #000;
    background-image: none;
    background-color: rgb(244, 244, 244);
    border: 0.1px solid grey;
    transition: 0.7s;
}

footer {
    width: 100%;
    height: 285px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/portfolio/images/portfolio-hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

footer .social-icons {
    display: flex;
    justify-content: center;
}

footer .social-icons a{
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
}

footer .social-icons a i {
    font-size: 1.7em;
    color: black;
    opacity: 0.9;
}

footer .social-icons a:hover {
    background-image: url('/portfolio/images/portfolio-hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

footer .social-icons a:hover i {
    color: white;
    transition: 0.5s;
}

footer .footer-nav ul {
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-nav ul li a {
    color: white;
    margin: 20px;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}

footer .footer-nav ul li a:hover {
    opacity: 1;
    font-size: 1.2em;
    transition: 0.5s;
}

footer .footer-bottom {
    color: white;
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {

    header {
        padding: 0;
        z-index: 150;
    }

    header nav {
        width: 100%;
        height: 100%;
        position: relative;
    }

    header nav .openMenu {
        width: auto;
        display: inline-block;
        color: rgb(192, 192, 192);
        border: 0.9px solid grey;
        border-radius: 50px;
        padding: 14px;
        cursor: pointer;
    }

    header nav .openMenu a {
        position: relative;
        bottom: 5px;
    }

    .mobileMenu {
        width: 40%;
        height: 230px;
        margin-top: 8px;
        padding: 10px;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 151;
        background-image: url('/portfolio/images/portfolio-hero-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        transition: right 1s ease;
    }

    .mobileMenu li a {
        text-decoration: none;
        color: rgb(192, 192, 192);
    }

    header nav .mainMenu {
        display: none;
    }

    .hero-section {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        z-index: 10;
    }

    .hero-section .hero-container {
        position: relative;
        overflow: hidden;
        z-index: 11;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-section .hero-container .hero-text {
        width: 93%;
        padding: 5px;
        margin-top: 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        overflow: hidden;
        left: auto;
    }

    .hero-section .hero-container .hero-text h1 {
        font-size: 1.5em;
    }

    .hero-section .hero-container .hero-text hr {
        width: 188px;
    }

    .hero-section .hero-container .hero-text .hero-p2 {
        width: 95%;
        font-size: 0.9em;
    }

    .hero-section .hero-container .hero-text {
        font-size: 0.9em;
    }

    .mbl-img-container {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 80%;
        background-image: url(/portfolio/images/portfolio-hero-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        z-index: 120;
        overflow: hidden;
    }

    .mbl-img-container .mbl-img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
        object-fit: cover;
        position: relative;
        z-index: 150;
    }

    .hero-section .hero-container .hero-img-container .hero-img {
        display: none;
    }

    .projects {
        margin-top: 55%;
        position: relative;
        z-index: 50;
    }

    .projects h2 {
        display: none;
        font-size: 1.3em;
    }

    .projects .project-grid .project{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .projects .project-grid .project .p-2 {
        width: 37%;
        margin: -5px auto;
        font-size: 0.7em;
        padding: 5px;
    }

    .projects .project-grid .project .project-1-img {
        margin-top: 30px;
        object-fit: cover;
        border: 1px solid rgb(255, 255, 255);
    }

    .projects .project-grid .project .img-2 {
        display: none;
    }

    .projects .project-grid .project .img-2-mobile {
        width: 36%;
        display: block;
        margin: 25px auto;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
    }

    .projects .lets-work {
        width: 85%;
        font-size: 1.6em;
    }

    footer .footer-nav {
        width: 92%;
        margin: 0 auto;
    }

    footer .social-icons .fab {
        overflow: hidden;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1049px) {

    .mobile .mobileMenu {
        display: none;
    }

    .hero-section {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: #000;
    }

     .hero-section .hero-container .hero-text {
        width: 90%;
        min-height: 10px;
        padding: 20px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        overflow: hidden;
        left: auto;
    }

    .hero-section .hero-container .hero-img-container {
        width: 100%;
        position: absolute;
        top: 75%;
        background-image: url(/portfolio/images/portfolio-hero-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        overflow: hidden;
    }

    .hero-section .hero-container .hero-img-container .hero-mbl-img {
        display: block;
        height: fit-content;
        margin: 0 auto;
        padding: 0;
        object-fit: cover;
        right: auto;
        overflow: hidden;
    }
    
    .hero-section .hero-container .hero-img-container .hero-img {
        display: none;
    }

    .hero-section .hero-container .hero-text h1 {
        font-size: 2.7em;
    }

    .projects {
        width: auto;
        padding-top: 20px;
    }
}